<div>
  <div class='article' *ngFor='let article of tasks | paginate: { itemsPerPage: itemsPerPageHandler(), currentPage: p }'>
    <div>
      <img src='{{article.urlToImage}}' class='article__img'>
    </div>
    <div class="article__content">
      <h3>{{article.title}}</h3>
      <button (click)='contentHandler(article)' *ngIf='!article.isDetailsOpen' type="button" class="btn btn-primary btn-sm">
        więcej
      </button>
      <p *ngIf='article.isDetailsOpen'>{{article.content}}</p>
      <a class="btn btn-secondary btn-sm" role="button" href='{{article.url}}'>zrodlo</a>

    </div>

  </div>
  <pagination-controls (pageChange)='p = $event' *ngIf='tasks'></pagination-controls>
</div>

