<div>
  <button *ngFor="let categorie of categories" (click)="buttonHandle(categorie)">
    <ng-container [ngSwitch]="categorie">
      <ng-container *ngSwitchCase="'business'">biznes</ng-container>
      <ng-container *ngSwitchCase="'entertainment'">rozrywka</ng-container>
      <ng-container *ngSwitchCase="'health'">zdrowie</ng-container>
      <ng-container *ngSwitchCase="'science'">nauka</ng-container>
      <ng-container *ngSwitchCase="'sports'">sport</ng-container>
      <ng-container *ngSwitchCase="'technology'">technologie</ng-container>
    </ng-container>
  </button>
</div>
